@media only screen and (max-width: 640px) {
  .xs-col-1 {
    width: 6.25% !important;
  }
  .xs-push-1 {
    margin-left: 6.25% !important;
  }
  .xs-pull-1 {
    margin-right: 6.25% !important;
  }
  .xs-col-2 {
    width: 12.5% !important;
  }
  .xs-push-2 {
    margin-left: 12.5% !important;
  }
  .xs-pull-2 {
    margin-right: 12.5% !important;
  }
  .xs-col-3 {
    width: 18.75% !important;
  }
  .xs-push-3 {
    margin-left: 18.75% !important;
  }
  .xs-pull-3 {
    margin-right: 18.75% !important;
  }
  .xs-col-4 {
    width: 25% !important;
  }
  .xs-push-4 {
    margin-left: 25% !important;
  }
  .xs-pull-4 {
    margin-right: 25% !important;
  }
  .xs-col-5 {
    width: 31.25% !important;
  }
  .xs-push-5 {
    margin-left: 31.25% !important;
  }
  .xs-pull-5 {
    margin-right: 31.25% !important;
  }
  .xs-col-6 {
    width: 37.5% !important;
  }
  .xs-push-6 {
    margin-left: 37.5% !important;
  }
  .xs-pull-6 {
    margin-right: 37.5% !important;
  }
  .xs-col-7 {
    width: 43.75% !important;
  }
  .xs-push-7 {
    margin-left: 43.75% !important;
  }
  .xs-pull-7 {
    margin-right: 43.75% !important;
  }
  .xs-col-8 {
    width: 50% !important;
  }
  .xs-push-8 {
    margin-left: 50% !important;
  }
  .xs-pull-8 {
    margin-right: 50% !important;
  }
  .xs-col-9 {
    width: 56.25% !important;
  }
  .xs-push-9 {
    margin-left: 56.25% !important;
  }
  .xs-pull-9 {
    margin-right: 56.25% !important;
  }
  .xs-col-10 {
    width: 62.5% !important;
  }
  .xs-push-10 {
    margin-left: 62.5% !important;
  }
  .xs-pull-10 {
    margin-right: 62.5% !important;
  }
  .xs-col-11 {
    width: 68.75% !important;
  }
  .xs-push-11 {
    margin-left: 68.75% !important;
  }
  .xs-pull-11 {
    margin-right: 68.75% !important;
  }
  .xs-col-12 {
    width: 75% !important;
  }
  .xs-push-12 {
    margin-left: 75% !important;
  }
  .xs-pull-12 {
    margin-right: 75% !important;
  }
  .xs-col-13 {
    width: 81.25% !important;
  }
  .xs-push-13 {
    margin-left: 81.25% !important;
  }
  .xs-pull-13 {
    margin-right: 81.25% !important;
  }
  .xs-col-14 {
    width: 87.5% !important;
  }
  .xs-push-14 {
    margin-left: 87.5% !important;
  }
  .xs-pull-14 {
    margin-right: 87.5% !important;
  }
  .xs-col-15 {
    width: 93.75% !important;
  }
  .xs-push-15 {
    margin-left: 93.75% !important;
  }
  .xs-pull-15 {
    margin-right: 93.75% !important;
  }
  .xs-col-16 {
    width: 100% !important;
  }
  .xs-push-16 {
    margin-left: 100% !important;
  }
  .xs-pull-16 {
    margin-right: 100% !important;
  }
  .xs-col-100p {
    width: 100% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1020px) {
  .sm-col-1 {
    width: 4.166666666666667% !important;
  }
  .sm-push-1 {
    margin-left: 4.166666666666667% !important;
  }
  .sm-pull-1 {
    margin-right: 4.166666666666667% !important;
  }
  .sm-col-2 {
    width: 8.333333333333334% !important;
  }
  .sm-push-2 {
    margin-left: 8.333333333333334% !important;
  }
  .sm-pull-2 {
    margin-right: 8.333333333333334% !important;
  }
  .sm-col-3 {
    width: 12.5% !important;
  }
  .sm-push-3 {
    margin-left: 12.5% !important;
  }
  .sm-pull-3 {
    margin-right: 12.5% !important;
  }
  .sm-col-4 {
    width: 16.666666666666668% !important;
  }
  .sm-push-4 {
    margin-left: 16.666666666666668% !important;
  }
  .sm-pull-4 {
    margin-right: 16.666666666666668% !important;
  }
  .sm-col-5 {
    width: 20.833333333333336% !important;
  }
  .sm-push-5 {
    margin-left: 20.833333333333336% !important;
  }
  .sm-pull-5 {
    margin-right: 20.833333333333336% !important;
  }
  .sm-col-6 {
    width: 25% !important;
  }
  .sm-push-6 {
    margin-left: 25% !important;
  }
  .sm-pull-6 {
    margin-right: 25% !important;
  }
  .sm-col-7 {
    width: 29.166666666666668% !important;
  }
  .sm-push-7 {
    margin-left: 29.166666666666668% !important;
  }
  .sm-pull-7 {
    margin-right: 29.166666666666668% !important;
  }
  .sm-col-8 {
    width: 33.333333333333336% !important;
  }
  .sm-push-8 {
    margin-left: 33.333333333333336% !important;
  }
  .sm-pull-8 {
    margin-right: 33.333333333333336% !important;
  }
  .sm-col-9 {
    width: 37.5% !important;
  }
  .sm-push-9 {
    margin-left: 37.5% !important;
  }
  .sm-pull-9 {
    margin-right: 37.5% !important;
  }
  .sm-col-10 {
    width: 41.66666666666667% !important;
  }
  .sm-push-10 {
    margin-left: 41.66666666666667% !important;
  }
  .sm-pull-10 {
    margin-right: 41.66666666666667% !important;
  }
  .sm-col-11 {
    width: 45.833333333333336% !important;
  }
  .sm-push-11 {
    margin-left: 45.833333333333336% !important;
  }
  .sm-pull-11 {
    margin-right: 45.833333333333336% !important;
  }
  .sm-col-12 {
    width: 50% !important;
  }
  .sm-push-12 {
    margin-left: 50% !important;
  }
  .sm-pull-12 {
    margin-right: 50% !important;
  }
  .sm-col-13 {
    width: 54.16666666666667% !important;
  }
  .sm-push-13 {
    margin-left: 54.16666666666667% !important;
  }
  .sm-pull-13 {
    margin-right: 54.16666666666667% !important;
  }
  .sm-col-14 {
    width: 58.333333333333336% !important;
  }
  .sm-push-14 {
    margin-left: 58.333333333333336% !important;
  }
  .sm-pull-14 {
    margin-right: 58.333333333333336% !important;
  }
  .sm-col-15 {
    width: 62.50000000000001% !important;
  }
  .sm-push-15 {
    margin-left: 62.50000000000001% !important;
  }
  .sm-pull-15 {
    margin-right: 62.50000000000001% !important;
  }
  .sm-col-16 {
    width: 66.66666666666667% !important;
  }
  .sm-push-16 {
    margin-left: 66.66666666666667% !important;
  }
  .sm-pull-16 {
    margin-right: 66.66666666666667% !important;
  }
  .sm-col-17 {
    width: 70.83333333333334% !important;
  }
  .sm-push-17 {
    margin-left: 70.83333333333334% !important;
  }
  .sm-pull-17 {
    margin-right: 70.83333333333334% !important;
  }
  .sm-col-18 {
    width: 75% !important;
  }
  .sm-push-18 {
    margin-left: 75% !important;
  }
  .sm-pull-18 {
    margin-right: 75% !important;
  }
  .sm-col-19 {
    width: 79.16666666666667% !important;
  }
  .sm-push-19 {
    margin-left: 79.16666666666667% !important;
  }
  .sm-pull-19 {
    margin-right: 79.16666666666667% !important;
  }
  .sm-col-20 {
    width: 83.33333333333334% !important;
  }
  .sm-push-20 {
    margin-left: 83.33333333333334% !important;
  }
  .sm-pull-20 {
    margin-right: 83.33333333333334% !important;
  }
  .sm-col-21 {
    width: 87.5% !important;
  }
  .sm-push-21 {
    margin-left: 87.5% !important;
  }
  .sm-pull-21 {
    margin-right: 87.5% !important;
  }
  .sm-col-22 {
    width: 91.66666666666667% !important;
  }
  .sm-push-22 {
    margin-left: 91.66666666666667% !important;
  }
  .sm-pull-22 {
    margin-right: 91.66666666666667% !important;
  }
  .sm-col-23 {
    width: 95.83333333333334% !important;
  }
  .sm-push-23 {
    margin-left: 95.83333333333334% !important;
  }
  .sm-pull-23 {
    margin-right: 95.83333333333334% !important;
  }
  .sm-col-24 {
    width: 100% !important;
  }
  .sm-push-24 {
    margin-left: 100% !important;
  }
  .sm-pull-24 {
    margin-right: 100% !important;
  }
  .sm-col-100p {
    width: 100% !important;
  }
}
@media only screen and (min-width: 1021px) and (max-width: 1600px) {
  .md-col-1 {
    width: 2.777777777777778% !important;
  }
  .md-push-1 {
    margin-left: 2.777777777777778% !important;
  }
  .md-pull-1 {
    margin-right: 2.777777777777778% !important;
  }
  .md-col-2 {
    width: 5.555555555555555% !important;
  }
  .md-push-2 {
    margin-left: 5.555555555555555% !important;
  }
  .md-pull-2 {
    margin-right: 5.555555555555555% !important;
  }
  .md-col-3 {
    width: 8.333333333333332% !important;
  }
  .md-push-3 {
    margin-left: 8.333333333333332% !important;
  }
  .md-pull-3 {
    margin-right: 8.333333333333332% !important;
  }
  .md-col-4 {
    width: 11.11111111111111% !important;
  }
  .md-push-4 {
    margin-left: 11.11111111111111% !important;
  }
  .md-pull-4 {
    margin-right: 11.11111111111111% !important;
  }
  .md-col-5 {
    width: 13.88888888888889% !important;
  }
  .md-push-5 {
    margin-left: 13.88888888888889% !important;
  }
  .md-pull-5 {
    margin-right: 13.88888888888889% !important;
  }
  .md-col-6 {
    width: 16.666666666666664% !important;
  }
  .md-push-6 {
    margin-left: 16.666666666666664% !important;
  }
  .md-pull-6 {
    margin-right: 16.666666666666664% !important;
  }
  .md-col-7 {
    width: 19.444444444444443% !important;
  }
  .md-push-7 {
    margin-left: 19.444444444444443% !important;
  }
  .md-pull-7 {
    margin-right: 19.444444444444443% !important;
  }
  .md-col-8 {
    width: 22.22222222222222% !important;
  }
  .md-push-8 {
    margin-left: 22.22222222222222% !important;
  }
  .md-pull-8 {
    margin-right: 22.22222222222222% !important;
  }
  .md-col-9 {
    width: 25% !important;
  }
  .md-push-9 {
    margin-left: 25% !important;
  }
  .md-pull-9 {
    margin-right: 25% !important;
  }
  .md-col-10 {
    width: 27.77777777777778% !important;
  }
  .md-push-10 {
    margin-left: 27.77777777777778% !important;
  }
  .md-pull-10 {
    margin-right: 27.77777777777778% !important;
  }
  .md-col-11 {
    width: 30.555555555555554% !important;
  }
  .md-push-11 {
    margin-left: 30.555555555555554% !important;
  }
  .md-pull-11 {
    margin-right: 30.555555555555554% !important;
  }
  .md-col-12 {
    width: 33.33333333333333% !important;
  }
  .md-push-12 {
    margin-left: 33.33333333333333% !important;
  }
  .md-pull-12 {
    margin-right: 33.33333333333333% !important;
  }
  .md-col-13 {
    width: 36.11111111111111% !important;
  }
  .md-push-13 {
    margin-left: 36.11111111111111% !important;
  }
  .md-pull-13 {
    margin-right: 36.11111111111111% !important;
  }
  .md-col-14 {
    width: 38.888888888888886% !important;
  }
  .md-push-14 {
    margin-left: 38.888888888888886% !important;
  }
  .md-pull-14 {
    margin-right: 38.888888888888886% !important;
  }
  .md-col-15 {
    width: 41.666666666666664% !important;
  }
  .md-push-15 {
    margin-left: 41.666666666666664% !important;
  }
  .md-pull-15 {
    margin-right: 41.666666666666664% !important;
  }
  .md-col-16 {
    width: 44.44444444444444% !important;
  }
  .md-push-16 {
    margin-left: 44.44444444444444% !important;
  }
  .md-pull-16 {
    margin-right: 44.44444444444444% !important;
  }
  .md-col-17 {
    width: 47.22222222222222% !important;
  }
  .md-push-17 {
    margin-left: 47.22222222222222% !important;
  }
  .md-pull-17 {
    margin-right: 47.22222222222222% !important;
  }
  .md-col-18 {
    width: 50% !important;
  }
  .md-push-18 {
    margin-left: 50% !important;
  }
  .md-pull-18 {
    margin-right: 50% !important;
  }
  .md-col-19 {
    width: 52.77777777777778% !important;
  }
  .md-push-19 {
    margin-left: 52.77777777777778% !important;
  }
  .md-pull-19 {
    margin-right: 52.77777777777778% !important;
  }
  .md-col-20 {
    width: 55.55555555555556% !important;
  }
  .md-push-20 {
    margin-left: 55.55555555555556% !important;
  }
  .md-pull-20 {
    margin-right: 55.55555555555556% !important;
  }
  .md-col-21 {
    width: 58.33333333333333% !important;
  }
  .md-push-21 {
    margin-left: 58.33333333333333% !important;
  }
  .md-pull-21 {
    margin-right: 58.33333333333333% !important;
  }
  .md-col-22 {
    width: 61.11111111111111% !important;
  }
  .md-push-22 {
    margin-left: 61.11111111111111% !important;
  }
  .md-pull-22 {
    margin-right: 61.11111111111111% !important;
  }
  .md-col-23 {
    width: 63.888888888888886% !important;
  }
  .md-push-23 {
    margin-left: 63.888888888888886% !important;
  }
  .md-pull-23 {
    margin-right: 63.888888888888886% !important;
  }
  .md-col-24 {
    width: 66.66666666666666% !important;
  }
  .md-push-24 {
    margin-left: 66.66666666666666% !important;
  }
  .md-pull-24 {
    margin-right: 66.66666666666666% !important;
  }
  .md-col-25 {
    width: 69.44444444444444% !important;
  }
  .md-push-25 {
    margin-left: 69.44444444444444% !important;
  }
  .md-pull-25 {
    margin-right: 69.44444444444444% !important;
  }
  .md-col-26 {
    width: 72.22222222222221% !important;
  }
  .md-push-26 {
    margin-left: 72.22222222222221% !important;
  }
  .md-pull-26 {
    margin-right: 72.22222222222221% !important;
  }
  .md-col-27 {
    width: 75% !important;
  }
  .md-push-27 {
    margin-left: 75% !important;
  }
  .md-pull-27 {
    margin-right: 75% !important;
  }
  .md-col-28 {
    width: 77.77777777777777% !important;
  }
  .md-push-28 {
    margin-left: 77.77777777777777% !important;
  }
  .md-pull-28 {
    margin-right: 77.77777777777777% !important;
  }
  .md-col-29 {
    width: 80.55555555555556% !important;
  }
  .md-push-29 {
    margin-left: 80.55555555555556% !important;
  }
  .md-pull-29 {
    margin-right: 80.55555555555556% !important;
  }
  .md-col-30 {
    width: 83.33333333333333% !important;
  }
  .md-push-30 {
    margin-left: 83.33333333333333% !important;
  }
  .md-pull-30 {
    margin-right: 83.33333333333333% !important;
  }
  .md-col-31 {
    width: 86.11111111111111% !important;
  }
  .md-push-31 {
    margin-left: 86.11111111111111% !important;
  }
  .md-pull-31 {
    margin-right: 86.11111111111111% !important;
  }
  .md-col-32 {
    width: 88.88888888888889% !important;
  }
  .md-push-32 {
    margin-left: 88.88888888888889% !important;
  }
  .md-pull-32 {
    margin-right: 88.88888888888889% !important;
  }
  .md-col-33 {
    width: 91.66666666666666% !important;
  }
  .md-push-33 {
    margin-left: 91.66666666666666% !important;
  }
  .md-pull-33 {
    margin-right: 91.66666666666666% !important;
  }
  .md-col-34 {
    width: 94.44444444444444% !important;
  }
  .md-push-34 {
    margin-left: 94.44444444444444% !important;
  }
  .md-pull-34 {
    margin-right: 94.44444444444444% !important;
  }
  .md-col-35 {
    width: 97.22222222222221% !important;
  }
  .md-push-35 {
    margin-left: 97.22222222222221% !important;
  }
  .md-pull-35 {
    margin-right: 97.22222222222221% !important;
  }
  .md-col-36 {
    width: 100% !important;
  }
  .md-push-36 {
    margin-left: 100% !important;
  }
  .md-pull-36 {
    margin-right: 100% !important;
  }
  .md-col-100p {
    width: 100% !important;
  }
}
@media only screen and (min-width: 1601px) {
  .lg-col-1 {
    width: 2.777777777777778% !important;
  }
  .lg-push-1 {
    margin-left: 2.777777777777778% !important;
  }
  .lg-pull-1 {
    margin-right: 2.777777777777778% !important;
  }
  .lg-col-2 {
    width: 5.555555555555555% !important;
  }
  .lg-push-2 {
    margin-left: 5.555555555555555% !important;
  }
  .lg-pull-2 {
    margin-right: 5.555555555555555% !important;
  }
  .lg-col-3 {
    width: 8.333333333333332% !important;
  }
  .lg-push-3 {
    margin-left: 8.333333333333332% !important;
  }
  .lg-pull-3 {
    margin-right: 8.333333333333332% !important;
  }
  .lg-col-4 {
    width: 11.11111111111111% !important;
  }
  .lg-push-4 {
    margin-left: 11.11111111111111% !important;
  }
  .lg-pull-4 {
    margin-right: 11.11111111111111% !important;
  }
  .lg-col-5 {
    width: 13.88888888888889% !important;
  }
  .lg-push-5 {
    margin-left: 13.88888888888889% !important;
  }
  .lg-pull-5 {
    margin-right: 13.88888888888889% !important;
  }
  .lg-col-6 {
    width: 16.666666666666664% !important;
  }
  .lg-push-6 {
    margin-left: 16.666666666666664% !important;
  }
  .lg-pull-6 {
    margin-right: 16.666666666666664% !important;
  }
  .lg-col-7 {
    width: 19.444444444444443% !important;
  }
  .lg-push-7 {
    margin-left: 19.444444444444443% !important;
  }
  .lg-pull-7 {
    margin-right: 19.444444444444443% !important;
  }
  .lg-col-8 {
    width: 22.22222222222222% !important;
  }
  .lg-push-8 {
    margin-left: 22.22222222222222% !important;
  }
  .lg-pull-8 {
    margin-right: 22.22222222222222% !important;
  }
  .lg-col-9 {
    width: 25% !important;
  }
  .lg-push-9 {
    margin-left: 25% !important;
  }
  .lg-pull-9 {
    margin-right: 25% !important;
  }
  .lg-col-10 {
    width: 27.77777777777778% !important;
  }
  .lg-push-10 {
    margin-left: 27.77777777777778% !important;
  }
  .lg-pull-10 {
    margin-right: 27.77777777777778% !important;
  }
  .lg-col-11 {
    width: 30.555555555555554% !important;
  }
  .lg-push-11 {
    margin-left: 30.555555555555554% !important;
  }
  .lg-pull-11 {
    margin-right: 30.555555555555554% !important;
  }
  .lg-col-12 {
    width: 33.33333333333333% !important;
  }
  .lg-push-12 {
    margin-left: 33.33333333333333% !important;
  }
  .lg-pull-12 {
    margin-right: 33.33333333333333% !important;
  }
  .lg-col-13 {
    width: 36.11111111111111% !important;
  }
  .lg-push-13 {
    margin-left: 36.11111111111111% !important;
  }
  .lg-pull-13 {
    margin-right: 36.11111111111111% !important;
  }
  .lg-col-14 {
    width: 38.888888888888886% !important;
  }
  .lg-push-14 {
    margin-left: 38.888888888888886% !important;
  }
  .lg-pull-14 {
    margin-right: 38.888888888888886% !important;
  }
  .lg-col-15 {
    width: 41.666666666666664% !important;
  }
  .lg-push-15 {
    margin-left: 41.666666666666664% !important;
  }
  .lg-pull-15 {
    margin-right: 41.666666666666664% !important;
  }
  .lg-col-16 {
    width: 44.44444444444444% !important;
  }
  .lg-push-16 {
    margin-left: 44.44444444444444% !important;
  }
  .lg-pull-16 {
    margin-right: 44.44444444444444% !important;
  }
  .lg-col-17 {
    width: 47.22222222222222% !important;
  }
  .lg-push-17 {
    margin-left: 47.22222222222222% !important;
  }
  .lg-pull-17 {
    margin-right: 47.22222222222222% !important;
  }
  .lg-col-18 {
    width: 50% !important;
  }
  .lg-push-18 {
    margin-left: 50% !important;
  }
  .lg-pull-18 {
    margin-right: 50% !important;
  }
  .lg-col-19 {
    width: 52.77777777777778% !important;
  }
  .lg-push-19 {
    margin-left: 52.77777777777778% !important;
  }
  .lg-pull-19 {
    margin-right: 52.77777777777778% !important;
  }
  .lg-col-20 {
    width: 55.55555555555556% !important;
  }
  .lg-push-20 {
    margin-left: 55.55555555555556% !important;
  }
  .lg-pull-20 {
    margin-right: 55.55555555555556% !important;
  }
  .lg-col-21 {
    width: 58.33333333333333% !important;
  }
  .lg-push-21 {
    margin-left: 58.33333333333333% !important;
  }
  .lg-pull-21 {
    margin-right: 58.33333333333333% !important;
  }
  .lg-col-22 {
    width: 61.11111111111111% !important;
  }
  .lg-push-22 {
    margin-left: 61.11111111111111% !important;
  }
  .lg-pull-22 {
    margin-right: 61.11111111111111% !important;
  }
  .lg-col-23 {
    width: 63.888888888888886% !important;
  }
  .lg-push-23 {
    margin-left: 63.888888888888886% !important;
  }
  .lg-pull-23 {
    margin-right: 63.888888888888886% !important;
  }
  .lg-col-24 {
    width: 66.66666666666666% !important;
  }
  .lg-push-24 {
    margin-left: 66.66666666666666% !important;
  }
  .lg-pull-24 {
    margin-right: 66.66666666666666% !important;
  }
  .lg-col-25 {
    width: 69.44444444444444% !important;
  }
  .lg-push-25 {
    margin-left: 69.44444444444444% !important;
  }
  .lg-pull-25 {
    margin-right: 69.44444444444444% !important;
  }
  .lg-col-26 {
    width: 72.22222222222221% !important;
  }
  .lg-push-26 {
    margin-left: 72.22222222222221% !important;
  }
  .lg-pull-26 {
    margin-right: 72.22222222222221% !important;
  }
  .lg-col-27 {
    width: 75% !important;
  }
  .lg-push-27 {
    margin-left: 75% !important;
  }
  .lg-pull-27 {
    margin-right: 75% !important;
  }
  .lg-col-28 {
    width: 77.77777777777777% !important;
  }
  .lg-push-28 {
    margin-left: 77.77777777777777% !important;
  }
  .lg-pull-28 {
    margin-right: 77.77777777777777% !important;
  }
  .lg-col-29 {
    width: 80.55555555555556% !important;
  }
  .lg-push-29 {
    margin-left: 80.55555555555556% !important;
  }
  .lg-pull-29 {
    margin-right: 80.55555555555556% !important;
  }
  .lg-col-30 {
    width: 83.33333333333333% !important;
  }
  .lg-push-30 {
    margin-left: 83.33333333333333% !important;
  }
  .lg-pull-30 {
    margin-right: 83.33333333333333% !important;
  }
  .lg-col-31 {
    width: 86.11111111111111% !important;
  }
  .lg-push-31 {
    margin-left: 86.11111111111111% !important;
  }
  .lg-pull-31 {
    margin-right: 86.11111111111111% !important;
  }
  .lg-col-32 {
    width: 88.88888888888889% !important;
  }
  .lg-push-32 {
    margin-left: 88.88888888888889% !important;
  }
  .lg-pull-32 {
    margin-right: 88.88888888888889% !important;
  }
  .lg-col-33 {
    width: 91.66666666666666% !important;
  }
  .lg-push-33 {
    margin-left: 91.66666666666666% !important;
  }
  .lg-pull-33 {
    margin-right: 91.66666666666666% !important;
  }
  .lg-col-34 {
    width: 94.44444444444444% !important;
  }
  .lg-push-34 {
    margin-left: 94.44444444444444% !important;
  }
  .lg-pull-34 {
    margin-right: 94.44444444444444% !important;
  }
  .lg-col-35 {
    width: 97.22222222222221% !important;
  }
  .lg-push-35 {
    margin-left: 97.22222222222221% !important;
  }
  .lg-pull-35 {
    margin-right: 97.22222222222221% !important;
  }
  .lg-col-36 {
    width: 100% !important;
  }
  .lg-push-36 {
    margin-left: 100% !important;
  }
  .lg-pull-36 {
    margin-right: 100% !important;
  }
  .lg-col-100p {
    width: 100% !important;
  }
}
/* de-style.css v1.0.5 | MIT License | https://github.com/nicolas-cusan/destyle.css */
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}
body {
  margin: 0;
}
main {
  display: block;
}
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}
address {
  font-style: inherit;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  vertical-align: bottom;
}
embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0;
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: default;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
::-webkit-input-placeholder {
  font: inherit;
}
:-ms-input-placeholder {
  font: inherit;
}
::-ms-input-placeholder {
  font: inherit;
}
::-moz-placeholder {
  font: inherit;
}
::placeholder {
  font: inherit;
}
label[for] {
  cursor: pointer;
}
details {
  display: block;
}
summary {
  display: list-item;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  text-align: left;
}
td,
th {
  vertical-align: top;
}
th {
  text-align: left;
  font-weight: bold;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
body {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Futura PT', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #242424;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 1020px) {
  .container {
    width: 100%;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.centered {
  margin-right: auto;
  margin-left: auto;
}
.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dif {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.db {
  display: block;
}
.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aifs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.aife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.w100 {
  width: 100%;
}
.mra {
  margin-right: auto;
}
.mla {
  margin-left: auto;
}
.tac {
  text-align: center;
}
.ttu {
  text-transform: uppercase;
}
.fz-0 {
  font-size: 0 !important;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}
.svg-fill {
  fill: currentColor;
  stroke: none;
}
.svg-up {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.svg-right {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.svg-down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.svg-left {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 55px;
  font-size: 12px;
  color: #fff;
  background-color: #6c49b8;
  border: 1px solid #6c49b8;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.button:hover {
  background-color: #fff;
  color: #6c49b8;
}
.button-violet-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 55px;
  padding: 0 10px;
  font-size: 12px;
  color: #6c49b8;
  border: 1px solid #6c49b8;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.button-violet-border:hover {
  color: #fff;
  background-color: #6c49b8;
}
.bottom-two-line {
  position: relative;
  overflow: hidden;
}
.bottom-two-line:after,
.bottom-two-line:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  will-change: transform;
  background-color: currentColor;
}
@media only screen and (max-width: 1600px) {
  .bottom-two-line:after,
  .bottom-two-line:before {
    bottom: 0;
  }
}
.bottom-two-line:after {
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0.3s;
  transition: -webkit-transform 0.3s ease-in-out 0.3s;
  -o-transition: transform 0.3s ease-in-out 0.3s;
  transition: transform 0.3s ease-in-out 0.3s;
  transition: transform 0.3s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;
}
.bottom-two-line:before {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.bottom-two-line:hover:after {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.bottom-two-line:hover:before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0.3s;
  transition: -webkit-transform 0.3s ease-in-out 0.3s;
  -o-transition: transform 0.3s ease-in-out 0.3s;
  transition: transform 0.3s ease-in-out 0.3s;
  transition: transform 0.3s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;
}
.bottom-two-line_white:after,
.bottom-two-line_white:before {
  background-color: #fff;
}
.separation {
  position: relative;
  margin-left: 60px;
}
.separation::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  width: 1px;
  height: 15px;
  background-color: #e6e6e6;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bottom-line {
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.bottom-line::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: #6c49b8;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.bottom-line:hover {
  color: #6c49b8;
}
.bottom-line:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.line-bottom {
  position: relative;
  padding-bottom: 5px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.line-bottom::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.hover-link {
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.hover-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #f4c430;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.hover-link:hover {
  color: #6c49b8;
}
.hover-link:hover::before {
  background-color: #7200da;
}
.page-hero {
  min-height: calc(100vh - 339px);
}
.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 45px;
  padding: 0 15px;
  font-weight: 300;
  font-size: 15px;
  color: #242424;
  line-height: 45px;
  border: solid 1px #6c49b8;
  -webkit-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
.input::placehoder {
  color: #6c49b8;
}
.input:active,
.input:focus {
  border-color: #f4c430;
}
.label {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
}
.label-text {
  margin-bottom: 5px;
}
.title {
  margin-left: 0px;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 1px;
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .title {
    margin-left: calc(0 * 1px + (-1 - 0) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .title {
    margin-left: 0px;
  }
}
@media (min-width: 1600px) {
  .title {
    margin-left: -1px;
  }
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .title {
    font-size: calc(36 * 1px + (52 - 36) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .title {
    font-size: 36px;
  }
}
@media (min-width: 1600px) {
  .title {
    font-size: 52px;
  }
}
@media only screen and (max-width: 1020px) {
  .title {
    margin-left: 0;
    letter-spacing: normal;
  }
}
.title-lg {
  margin-left: -2px;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 5px;
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .title-lg {
    margin-left: calc(-2 * 1px + (-7 - -2) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .title-lg {
    margin-left: -2px;
  }
}
@media (min-width: 1600px) {
  .title-lg {
    margin-left: -7px;
  }
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .title-lg {
    font-size: calc(50 * 1px + (100 - 50) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .title-lg {
    font-size: 50px;
  }
}
@media (min-width: 1600px) {
  .title-lg {
    font-size: 100px;
  }
}
@media only screen and (max-width: 1020px) {
  .title-lg {
    margin-left: -3px;
    font-size: 34px;
    letter-spacing: 2.5px;
  }
}
@media only screen and (max-width: 640px) {
  .title-lg {
    margin-left: -1px;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 1020px) and (min-width: 639px) and (max-width: 1019px) {
  .title-lg {
    font-size: calc(34 * 1px + (50 - 34) * (100vw - 640 * 1px) / (1020 - 640) );
  }
}
@media only screen and (max-width: 1020px) and (max-width: 639px) {
  .title-lg {
    font-size: 34px;
  }
}
@media only screen and (max-width: 1020px) and (min-width: 1020px) {
  .title-lg {
    font-size: 50px;
  }
}
.page-top-margin {
  margin-top: 20px;
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .page-top-margin {
    margin-top: calc(20 * 1px + (35 - 20) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .page-top-margin {
    margin-top: 20px;
  }
}
@media (min-width: 1600px) {
  .page-top-margin {
    margin-top: 35px;
  }
}
.container-margin {
  margin-top: 60px;
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .container-margin {
    margin-top: calc(60 * 1px + (80 - 60) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .container-margin {
    margin-top: 60px;
  }
}
@media (min-width: 1600px) {
  .container-margin {
    margin-top: 80px;
  }
}
.lg-margin {
  margin-top: 50px;
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .lg-margin {
    margin-top: calc(50 * 1px + (80 - 50) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .lg-margin {
    margin-top: 50px;
  }
}
@media (min-width: 1600px) {
  .lg-margin {
    margin-top: 80px;
  }
}

