// size

$lg = 1600
$sm = 1020
$xs = 640

$black = #060608
$gray = #e6e6e6
$blue = #2470a0
$violet = #a696c8
$violet-dark = #600473
$pink = #fad3cf
$red = #de4307
$green = #8bc24c


$blue-rick = #02b1c8
$green-rick =#7ffa67

$text-shadow = 0.02em 0.02em 0.02em #7ffa67, -0.02em -0.02em 0.02em #7ffa67, 0 0 0.2em #7ffa67

// если палитра не будет смотрется, можно посмотреть тут
// https://encycolorpedia.ru/f4c430


$font-rick = 'Schoolbell'
