// size

$lg = 1600
$sm = 1020
$xs = 640

$black = #060608
$black-lighten = #222B33
$gray = #ededee
$yellow = #fad12d
$blue = #2470a0
$violet = #554D84
$violet-dark = #600473
$violet-light = #ecdaff
$pink = #fad3cf
$red = #de4307
$green = #91ce74
$green-light = #a8dab4
$white = #ffffff
$blue-light = #d0edf5


$blue-rick = #02b1c8
$green-rick =#7ffa67

$text-shadow = 0.02em 0.02em 0.02em #7ffa67, -0.02em -0.02em 0.02em #7ffa67, 0 0 0.2em #7ffa67

// если палитра не будет смотрется, можно посмотреть тут
// https://encycolorpedia.ru/f4c430


$font-rick = 'Schoolbell'
