.button
    display flex
    justify-content center
    align-items center
    box-sizing border-box
    height 55px
    font-size 12px
    color white
    background-color $violet-light
    border 1px solid $violet-light
    cursor pointer
    text-transform uppercase
    transition color 0.2s ease-in-out, background-color 0.2s ease-in-out

    &:hover
        background-color white
        color $violet-light

.button-violet-border
    display flex
    justify-content center
    align-items center
    box-sizing border-box
    height 55px
    padding 0 10px
    font-size 12px
    color $violet-light
    border 1px solid $violet-light
    cursor pointer
    text-transform uppercase
    transition color 0.2s ease-in-out, background-color 0.2s ease-in-out

    &:hover
        color white
        background-color $violet-light
