.separation
    position relative
    margin-left 60px

    &::after
        content ''
        position absolute
        top 50%
        left -30px
        width: 1px
        height 15px
        background-color $gray
        transform translateY(-50%)

.bottom-line
    position relative
    transition color 0.3s ease-in-out

    &::before
        content ''
        position absolute
        right 0
        bottom -3px
        width 100%
        height 1px
        background-color $violet-light
        transform scale(0)
        transform-origin 0 0
        transition transform 0.25s ease-in-out

    &:hover
        color $violet-light

        &::before
            transform scale(1)

.line-bottom
    position relative
    padding-bottom 5px
    transition color 0.2s ease-in-out

    &::before
        content ''
        position absolute
        bottom 0
        left 0
        width 100%
        height 1px
        background-color currentColor
        transition background-color 0.2s ease-in-out

.hover-link
    position relative
    padding-bottom 5px
    cursor pointer
    transition color 0.2s ease

    &::before
        content ''
        position absolute
        left 0
        bottom 0
        width 100%
        height 1px
        background-color $saffron
        transition background-color 0.2s ease

    &:hover
        color $violet-light

        &::before
            background-color $violet

.page-hero
    min-height calc(100vh - 339px)
