.bottom-line
  position relative
  transition color 0.3s ease-in-out

  &::before
    content ''
    position absolute
    right 0
    bottom -3px
    width 100%
    height 1px
    background-color $violet-light
    transform scale(0)
    transform-origin 0 0
    transition transform 0.25s ease-in-out

  &:hover
    color $violet-light

    &::before
      transform scale(1)

.line-bottom
  position relative
  padding-bottom 5px
  transition color 0.2s ease-in-out

  &::before
    content ''
    position absolute
    bottom 0
    left 0
    width 100%
    height 1px
    background-color currentColor
    transition background-color 0.2s ease-in-out
