.input
  width 100%
  padding 0 15px
  height 45px
  box-sizing border-box
  font-size 15px
  font-weight 300
  line-height 1.33
  border 1px solid $gray
  resize none
  border-radius 0
  transition border 0.3s ease-in-out
  &:hover
    border-color $violet
  &:focus
    border-color $violet
  & + &
    margin-top 20px

  &.error
    border-color $red