.page-top-margin
    width-between-property('margin-top', $sm, 20, $lg, 35, true, true)

.container-margin
    width-between-property('margin-top', $sm, 60, $lg, 80, true, true)

.lg-margin
    width-between-property('margin-top', $sm, 50, $lg, 80, true, true)
